In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd

In [5]:
# load data in
df = pd.read_csv("/content/pokemon_data.csv")

In [6]:
#to load all data
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

Load Data

In [7]:
print(df.head(3)) # 1st 3 data

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

Last 3 data

In [ ]:
print(df.tail(3))

       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

Get columns

In [8]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Get particular column data

In [9]:
print(df['Name']) # gives you all the name of the pokemon

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [10]:
print(df['Name'][0:5])# in a range

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

Multiple columns

In [11]:
print(df[["Name", "Type 1", "HP"]]) # for all data
print("...")
print(df[["Name", "Type 1", "HP"]][0:5]) # data in a range

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]
...
                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39

Read Row

In [12]:
print(df.iloc[1]) # everything in the 1st row

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [13]:
print(df.iloc[1:4]) # multiple rows

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122

   Sp. Def  Speed  Generation  Legendary
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False

In [14]:
print(df.iloc[2,1]) # read a specific location

Venusaur

Iterate through rows

In [ ]:
for index, row in df.iterrows(): # goes throgh row by row
  print(index, row)


for index, row in df.iterrows(): # only want particular columns
  print(index, row['name'])

Getting Rows based on a specific condition

In [16]:
df.loc[df['Type 1'] == 'Fire']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
42,37,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,38,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
63,58,Growlithe,Fire,NaN,55,70,45,70,50,60,1,False
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False
83,77,Ponyta,Fire,NaN,50,85,55,65,65,90,1,False
84,78,Rapidash,Fire,NaN,65,100,70,80,80,105,1,False
135,126,Magmar,Fire,NaN,65,95,57,100,85,93,1,False
147,136,Flareon,Fire,NaN,65,130,60,95,110,65,1,False
158,146,Moltres,Fire,Flying,90,100,90,125,85,90,1,True
169,155,Cyndaquil,Fire,NaN,39,52,43,60,50,65,2,False
170,156,Quilava,Fire,NaN,58,64,58,80,65,80,2,False
171,157,Typhlosion,Fire,NaN,78,84,78,109,85,100,2,False
236,218,Slugma,Fire,NaN,40,40,40,70,40,20,2,False
237,219,Magcargo,Fire,Rock,50,50,120,80,80,30,2,False
259,240,Magby,Fire,NaN,45,75,37,70,55,83,2,False
263,244,Entei,Fire,NaN,115,115,85,90,75,100,2,True
270,250,Ho-oh,Fire,Flying,106,130,90,110,154,90,2,True
276,255,Torchic,Fire,NaN,45,60,40,70,50,45,3,False
277,256,Combusken,Fire,Fighting,60,85,60,85,60,55,3,False
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
352,322,Numel,Fire,Ground,60,60,40,65,45,35,3,False
353,323,Camerupt,Fire,Ground,70,100,70,105,75,40,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
355,324,Torkoal,Fire,NaN,70,85,140,85,70,20,3,False
435,390,Chimchar,Fire,NaN,44,58,44,58,44,61,4,False
436,391,Monferno,Fire,Fighting,64,78,52,78,52,81,4,False
437,392,Infernape,Fire,Fighting,76,104,71,104,71,108,4,False
518,467,Magmortar,Fire,NaN,75,95,67,125,95,83,4,False
542,485,Heatran,Fire,Steel,91,90,106,130,106,77,4,True
557,498,Tepig,Fire,NaN,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
559,500,Emboar,Fire,Fighting,110,123,65,100,65,65,5,False
572,513,Pansear,Fire,NaN,50,53,48,53,48,64,5,False
573,514,Simisear,Fire,NaN,75,98,63,98,63,101,5,False
614,554,Darumaka,Fire,NaN,70,90,45,15,45,50,5,False
615,555,DarmanitanStandard Mode,Fire,NaN,105,140,55,30,55,95,5,False
616,555,DarmanitanZen Mode,Fire,Psychic,105,30,105,140,105,55,5,False
692,631,Heatmor,Fire,NaN,85,97,66,105,66,65,5,False
721,653,Fennekin,Fire,NaN,40,45,40,62,60,60,6,False
722,654,Braixen,Fire,NaN,59,59,58,90,70,73,6,False
723,655,Delphox,Fire,Psychic,75,69,72,114,100,104,6,False
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False
731,663,Talonflame,Fire,Flying,78,81,71,74,69,126,6,False
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Min, Max, standard deviation like states

In [17]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

**Sorting**

Alphabatically

In [18]:
df.sort_values('Name',ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [19]:
df.sort_values(['Type 1', 'HP'])
df.sort_values(['Type 1', 'HP'] , ascending = [1,0]) # 1 : Ascending true 0 for Type 1 and 1 means ascending false for HP

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

Make changes to data

In [20]:
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

Adding a column

In [21]:
df['total'] = df['HP'] + df['Attack'] # 45 + 49 = 94
print(df['total'])

0       94
1      122
2      162
3      180
4       91
      ...
795    150
796    210
797    190
798    240
799    190
Name: total, Length: 800, dtype: int64

In [23]:
df.head(3) # new column

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

Deleting a **column**

In [22]:
df = df.drop(columns = ['total'])
df.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

Rearranging Columns

In [24]:
cols = list(df.columns.values) # get all the columns 
print(cols)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]# type error will occur if you only give cols[-1]
df.head(5)

['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False

Saving Data

In [25]:
df.to_csv('modified.csv')# to save as a csv
df.to_csv('modified.csv', index = False)# to delete a particular column
# to read the data
df = pd.read_csv('modified.csv')

**Filtering data**

In [26]:
df.loc[df['Type 1']== 'Grass'] # one condition

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,False,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,False,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,False,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,False,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False

In [27]:
df.loc[(df['Type 1']== 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] # multiple condition data

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,False,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,False,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,False,114,85,70,85,80,30,5,False

# get it as a new data

In [30]:
new_df = df.loc[(df['Type 1']== 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)] 
print(new_df)

       #                   Name Type 1  Type 2  Legendary   HP  Attack  \
2      3               Venusaur  Grass  Poison      False   80      82
3      3  VenusaurMega Venusaur  Grass  Poison      False   80     100
50    45              Vileplume  Grass  Poison      False   75      80
77    71             Victreebel  Grass  Poison      False   80     105
652  591              Amoonguss  Grass  Poison      False  114      85

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
2         83      100      100     80           1      False
3        123      122      120     80           1      False
50        85      110       90     50           1      False
77        65      100       70     70           1      False
652       70       85       80     30           5      False

In [31]:
# you can see from above the index is still the same, if you want change it, then you can easily reset it
new_df = new_df.reset_index(drop = True) # drop usually gets you rid of the old indexes 
print(new_df)

     #                   Name Type 1  Type 2  Legendary   HP  Attack  Defense  \
0    3               Venusaur  Grass  Poison      False   80      82       83
1    3  VenusaurMega Venusaur  Grass  Poison      False   80     100      123
2   45              Vileplume  Grass  Poison      False   75      80       85
3   71             Victreebel  Grass  Poison      False   80     105       65
4  591              Amoonguss  Grass  Poison      False  114      85       70

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      100      100     80           1      False
1      122      120     80           1      False
2      110       90     50           1      False
3      100       70     70           1      False
4       85       80     30           5      False

# **Regex Filtering **

In [32]:
import re
df.loc[df['Name'].str.contains('Mega')] # gives you the rows which contain Mega in their rows. you can also give regex

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,False,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,False,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,False,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,False,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,False,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,False,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,False,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,False,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,False,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,False,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,True,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,True,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,False,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,False,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,False,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,False,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,False,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,False,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,False,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,False,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,False,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,False,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,False,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,False,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,False,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,False,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,False,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,False,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,False,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,False,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,False,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,False,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,False,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,False,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,False,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,False,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,True,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,True,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,True,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,False,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,False,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,False,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,False,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,False,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True

In [33]:
df.loc[df['Type 1'].str.contains('fire|Grass', flags = re.I ,regex = True)] # to ignore case use flags = re.I

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,False,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,False,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,False,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,False,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

# Conditional changes

In [35]:
df.loc[df['Type 1'] == 'Fire', 'Type 1']= 'Fire'
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

Aggregate Statisitic

In [37]:
df = pd.read_csv('modified.csv');
df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,True,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,True,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,True,80,110,120,130,90,70,6,True

Average

In [39]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending = False)  # see the avarage for all the type one pokemon

,#,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
Type 1,,,,,,,,,,
Steel,442.851852,0.148148,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Rock,392.727273,0.090909,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Dragon,474.375000,0.375000,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Ground,356.281250,0.125000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ghost,486.500000,0.062500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Water,303.089286,0.035714,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ice,423.541667,0.083333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,0.042857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,0.000000,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,0.064516,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Poison,251.785714,0.000000,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Fire,327.403846,0.096154,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Psychic,380.807018,0.245614,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Electric,363.500000,0.090909,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Flying,677.750000,0.500000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Fighting,363.851852,0.000000,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fairy,449.529412,0.058824,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Normal,319.173469,0.020408,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408

Count

In [40]:
df.groupby(['Type 1']).count()

,#,Name,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary.1
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

Working With Large amounts of data

In [ ]:
for df in pd.read_csv('modified.csv', chunksize = 5): # 5 means five rows are given to this at this time 
  print(df)

Concat with large dataset and create a new dataset

In [46]:
new_df = pd.DataFrame(columns = df.columns)
for df in pd.read_csv('modified.csv', chunksize = 5): # 5 means five rows are given to this at this time 
  result = df.groupby(['Type 1']).count()
  new_df = pd.concat([new_df, result])

print(new_df)

         # Name Type 1 Type 2 Legendary HP Attack Defense Sp. Atk Sp. Def  \
Fire     1    1    NaN      0         1  1      1       1       1       1
Grass    4    4    NaN      4         4  4      4       4       4       4
Fire     4    4    NaN      3         4  4      4       4       4       4
Water    1    1    NaN      0         1  1      1       1       1       1
Bug      2    2    NaN      0         2  2      2       2       2       2
...     ..  ...    ...    ...       ... ..    ...     ...     ...     ...
Fairy    1    1    NaN      0         1  1      1       1       1       1
Flying   2    2    NaN      2         2  2      2       2       2       2
Fire     1    1    NaN      1         1  1      1       1       1       1
Psychic  2    2    NaN      2         2  2      2       2       2       2
Rock     2    2    NaN      2         2  2      2       2       2       2

        Speed Generation Legendary.1
Fire        1          1           1
Grass       4          4           4
Fire        4          4           4
Water       1          1           1
Bug         2          2           2
...       ...        ...         ...
Fairy       1          1           1
Flying      2          2           2
Fire        1          1           1
Psychic     2          2           2
Rock        2          2           2

[433 rows x 13 columns]